body{
    margin:0;
    background-color:rgb(230, 228, 228);
}

#Titulo1{
    color:#b8071c;
}
#Titulo1{
    font-size: 40px;
}

#Titulo1{
    border-style: solid;
    border-color: aquamarine;
    border-radius: 7px;
    border-width: 5px;
}