html{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    background-color: #efefef;
}
header{
    background-color: #306EFF;
    color:white;
    padding: 3rem;
}

header h1{
   font-size: 4rem; 
}