body {background-color: #313438;
    ;

    color: black;



    margin: 0;
    padding: 0;
}

h1{
    color: rgb(12, 212, 219);
}

h2{
    color: rgb(189, 51, 51);
}

h4{

    color: rgb(255, 250, 250);

}

h3{

    color: rgb(0, 0, 0);

}

div{

    width: 1000px;
    height: auto;
    margin: 20;

    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(0, 0, 0) ;
}

.lista {

    width: 250px;
    height: 120px;
    position: absolute;
    top: 120px;
    bottom: 400px;
    right: 0;
    left: 1500px;

}

.cero{

    width: 300px;
    height: 120px;
    position: absolute;
    top: 120px;
    bottom: 400px;
    right: 0;
    left: 1500px;

}